body {
  font-family: futura, 'helvetica neue', 'sans-serif';
}

#root {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
}

#level-name-root {
  flex: 2 0 90%;
  min-width: 200px;

  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*flex-direction: row;*/
}

#level-number-root {
  flex: 0 0 10%;
  min-width: 44px;
}
