body {
  font-family: futura, 'helvetica neue', 'sans-serif';
  background-color: hsl(35, 10%, 97%);
  color: hsl(0, 0%, 18%);
  margin: 1em;
}

#title {
  text-transform: uppercase;
}

#root {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.level-table {
  text-shadow: white 1px 1px;
}

.name-column {
  flex: 2 0 12em;
  min-width: 200px;
  order: 3;
}

.hit-dice-column {
  flex: 0 0 5.5em;
  order: 2;
  padding-right: 1em;
}

.level-number-column {
  flex: 0 0 5.5em;
  order: 1;
  padding-right: 1em;
}

.column-header {
  min-height: 5.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1em;
}

.centered-text {
  text-align: center;
}

.fade-out {
  transition: opacity 0.5s;
  opacity: 0;
}

.transparent {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s;  
}

@media all and (max-width: 586px) {
  .column-header {
    max-height: 1em;
    min-height: 1em;
  }

  .hit-dice-column {
    display: none;
  }

  .level-number-column .column-header {
    opacity: 0;
  }

  .level-number-column {
    flex: 0 1 1em;
  }
}
