body {
  font-family: futura, 'helvetica neue', 'sans-serif';
}

#root {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
}

.name-column {
  flex: 2 0 12em;
  min-width: 200px;
  order: 2;

  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*flex-direction: row;*/
}

.hit-dice-column {
  flex: 0 0 5.5em;
  order: 1;
  padding-right: 1em;
}

.column-header {
  min-height: 5.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1em;
}

.centered-text {
  text-align: center;
}

.fade-out {
  transition: opacity 0.5s;
  opacity: 0;
}

.transparent {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s;  
}

@media all and (max-width: 586px) {

}
